.sortable {
  cursor: pointer;
}

.sortable i {
  margin: 1px 1px 0px 5px;
  font-size: 15px;
}

th {
  font-size: 13px;
  white-space: nowrap;
  padding-top: 5px;
}

td {
  font-size:11px;
}

input {
    height: inherit;
    border-left: 1px solid #9e9e9e;
    margin-bottom: 10px;
}

input[type=text]:focus {
     border-bottom: 1px solid #0d47a1;
     box-shadow: 0 1px 0 0 #0d47a1;
     border-left: 1px solid #0d47a1;
   }

select {
    display: block;
    height: inherit;
    border: none;
} 

select:active {
    border: red;
}   