<div class="widget-wrapper z-depth-1">  

    <div class="row header">
      <div class="col l12"><h5>Station Compliance Status</h5><span class="status-refresh"  (click)= "getStatusData()"><i class="tiny material-icons">loop</i></span></div>
    </div>

      <table class="bordered striped centered responsive-table">
        <thead>
          <tr>
              <th data-field="id" (click)= "sortBy('id')" class="sortable"><input id="first_name" type="text" class="validate"><br/><i class="Tiny material-icons left">swap_vert</i>Station ID</th>
              <th data-field="result" (click)= "sortBy('result')" class="sortable"><input id="first_name" type="text" class="validate"><br/><i class="Tiny material-icons left">swap_vert</i>Result</th>
              <th data-field="stationType"><input id="first_name" type="text" class="validate"><br/>Station Type</th>
              <th data-field="stationIP"><input id="first_name" type="text" class="validate"><br/>Station IP</th>
              <th data-field="switchIP"><input id="first_name" type="text" class="validate"><br/>Switch IP</th>
              <th data-field="slotNumber"><input id="first_name" type="text" class="validate"><br/>Slot Number</th>
              <th data-field="portNumber"><input id="first_name" type="text" class="validate"><br/>Port Number</th>
              <th data-field="message"><input id="first_name" type="text" class="validate"><br/>Message</th>
              <th data-field="status" (click)= "sortBy('status')" class="sortable"><input id="first_name" type="text" class="validate"><br/><i class="Tiny material-icons left">swap_vert</i>Status</th>
              <th data-field="date"><input id="first_name" type="text" class="validate"><br/>Date</th>
              <th data-field="macAddress"><input id="first_name" type="text" class="validate"><br/>MAC Address</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor = "let stationCompliance of tableData">
            <td>{{stationCompliance.id}}</td>
            <td>{{stationCompliance.result}}</td>
            <td>{{stationCompliance.stationType}}</td>
            <td>{{stationCompliance.stationIp}}</td>
            <td>{{stationCompliance.switchIp}}</td>
            <td>{{stationCompliance.slotNumber}}</td>
            <td>{{stationCompliance.portNumber}}</td>
            <td>{{stationCompliance.message}}</td>
            <td>
              <span *ngIf="stationCompliance.status === 'up'" style="color:#4CAF50;">&#8593;</span>
              <span *ngIf="stationCompliance.status != 'up'" style="color:#F44336;">&#8595;</span>
               {{stationCompliance.status}}
            </td>
            <td>{{stationCompliance.date}}</td>
            <td>{{stationCompliance.macAddress}}</td>
          </tr>


        </tbody>
      </table>
</div>