<div class="widget-wrapper z-depth-1">
  <div class="row header">
    <div class="col l10 m9"><h5>Station Status</h5></div>
    <div class="col l2 m3"><span class="status-refresh"  (click)= "getStatusData()"><i class="small material-icons">loop</i></span></div>
  </div>

  <div class="row">
      <div class="col m12 l12" style="text-align:center;">
        <span class="new badge grey" data-badge-caption="Disabled"></span>
        <span class="new badge green" data-badge-caption="Working"></span>
        <span class="new badge red" data-badge-caption="Problem"></span>
      </div>
  </div>

  <div class="row">
      <div  class="col m12 status-button" [innerHTML]="complianceButton"></div>

      <div  class="col m12 status-button" [innerHTML]="sysLogButton"></div>
      
      <div  class="col m12 status-button" [innerHTML]="trapButton"></div>

      <div  class="col m12 status-button" [innerHTML]="switchButton"></div>

      <div  class="col m12 status-button" [innerHTML]="routerButton"></div>
  </div>


</div>
