.badge {
    position: inherit;
}

.status-button {
    font-size: 11px;
    margin: 5px;
}

.widget-wrapper {
    border: 1px solid #e0e0e0;
}

.header {
    background-color: #e0e0e0;
    border-bottom: 1px solid #bdbdbd;
}

.status-refresh i {
    margin-top:10px;
    cursor: pointer;
}

h5 {
    text-align: center;
}