<div class="row">
  <div class="col m12">
    <app-menu></app-menu>
  </div>
</div>

<div class="row">
  <div class="col m4 l2">
    <app-station-status></app-station-status>
    <app-side-menu></app-side-menu>
  </div>

  <div class="col m8 l10">
    <div class="row">
      <div class="col m12 l6">
        <app-up-down-graph></app-up-down-graph>
      </div>

      <div class="col m12 l6">
        <app-station-type-graph></app-station-type-graph>
      </div>
    </div>

    <div class="row">
      <div class="col m12 l12">
          <app-swat-table></app-swat-table>
      </div>
    </div>
  </div>
</div>
