<div class="widget-wrapper z-depth-1">
  <div class="row header">
    <div class="col l10 m9"><h5>Event Device Type</h5></div>
    <div class="col l2 m3"><span class="status-refresh"  (click)= "getStatusData()"><i class="small material-icons">loop</i></span></div>
  </div>

  <div class="row">
      <div class="col m12 l12" style="text-align:center;">
        <span class="new badge green" data-badge-caption=">10"></span>
        <span class="new badge amber lighten-1" data-badge-caption="10<50"></span>
        <span class="new badge orange darken-2" data-badge-caption="50<"></span>
      </div>
  </div>

  <div class="row">

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left green">airplay</i> <span class="status-button">Windows Computer <span class="new badge green" data-badge-caption="5"></span></span></div>

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left orange darken-2">airplay</i> <span class="status-button">Network Device<span class="new badge orange darken-2" data-badge-caption="53"></span></span></div>

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left amber lighten-1">airplay</i> <span class="status-button">Unknown<span class="new badge amber lighten-1" data-badge-caption="17"></span></span></div>

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left green">airplay</i> <span class="status-button">Mananged Router<span class="new badge amber green" data-badge-caption="31"></span></span></div>

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left amber lighten-1">airplay</i> <span class="status-button">Managed Switch<span class="new badge amber lighten-1" data-badge-caption="731"></span></span></div>
  </div>


</div>