<div class="widget-wrapper z-depth-1">
  <div class="row header">
    <div class="col l10 m9"><h5>Event Severity</h5></div>
    <div class="col l2 m3"><span class="status-refresh"  (click)= "getStatusData()"><i class="small material-icons">loop</i></span></div>
  </div>

  <div class="row">
      <div class="col m12 l12" style="text-align:center;">
        <span class="new badge green" data-badge-caption=">10"></span>
        <span class="new badge amber lighten-1" data-badge-caption="10<50"></span>
        <span class="new badge orange darken-2" data-badge-caption="50<"></span>
      </div>
  </div>

  <div class="row">

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left green">description</i> <span class="status-button">Info <span class="new badge green" data-badge-caption="9"></span></span></div>

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left orange darken-2">description</i> <span class="status-button">Warning<span class="new badge orange darken-2" data-badge-caption="65"></span></span></div>

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left amber lighten-1">description</i> <span class="status-button">Error<span class="new badge amber lighten-1" data-badge-caption="12"></span></span></div>

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left amber lighten-1">description</i> <span class="status-button">Last Hour<span class="new badge amber lighten-1" data-badge-caption="31"></span></span></div>

      <div  class="col m12" style="margin-bottom:10px;"><i class="material-icons left green">description</i> <span class="status-button">All<span class="new badge green" data-badge-caption="731"></span></span></div>
  </div>


</div>